:root {
--button_border_style: 2px dashed #262626;
--button_color_style: #B3B3B2;
--border_dashed_style: 2px dashed #262626;
--border_dashed_big_style: 2px dashed #262626;
	}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Roboto;
}

a {font-family:'Roboto Mono';}
.container {
	width:1900px;
	height:3800px;
	margin:0 auto;
	background-color:#1A1A1A;
}
header {	
	width:1900px;
	height:123px;
	position:relative;
}
.header-mother {	
	width:1598px;
	margin:0 auto;
	}
.header {	
	width:1596px;
	height:123px;
	border-bottom:var(--border_dashed_style);
	display:flex;
	justify-content:space-between;
	align-items:center;
	}
.header-mother::before{    /*   left axis  */
	content:"";
	width:70px;
	height:70px;
	border-right: var(--border_dashed_style);
	border-bottom:var(--border_dashed_style);
	display:inline-block;
	position:absolute;
	top:50px;
	left:50px;
}
.header::before {    /*   left axis hider  */
	content:"";
	width:50px;
	height:50px;
	background-color:#1A1A1A;
	position:absolute;
	top:90px;
	left:90px;
}
.header-mother::after{    /*   right axis  */
	content:"";
	width:70px;
	height:70px;
	border-left:var(--border_dashed_style);
	border-bottom:var(--border_dashed_style);
	display:inline-block;
	position:absolute;
	top:50px;
	right:50px;
}
.header::after {        /*  right axis hider   */
	content:"";
	width:50px;
	height:50px;
	background-color:#1A1A1A;
	position:absolute;
	top:90px;
	right:90px;
	z-index:1;
}
.header a , .slider-info-left a{
	display:inline-block;
	padding:18px 30px;
	border-radius:12px;
	text-decoration:none;
}
.header-l a:first-child {
	background-color:#262626;
	color:white;
	margin-right:10px;
	}
.header-l a:nth-child(2), .slider-info-left a{
	border: var(--button_border_style);
	color: var(--button_color_style);
	}
.header-c a{
	color:#FFF;
	font-size:21px;
	font-weight:800;
	}
.header-c span{
	color:#B8A893;
	}
.header-r a:first-child {
	background-color:#262626;
	padding:18px;
	margin-right:10px;
	}			
.header-r a:nth-child(2) {
	background-color:#AE9B84;
	color:#0F0F0F;
	}
section {	width:1598px;
	height:53px;
	margin:0 auto;
	}
.slider-section {
	width:1596px;
	height:1066px;
	border: var(--border_dashed_big_style); 
	border-radius:20px;
	margin-top:40px;
}
.slider {
	width:1596px;
	height:660px;
	border-radius:20px 20px 2px 2px;
	overflow:hidden;
	}
.slider img {
	width:100%;
	transform:translateY(-200px);
	}
.slider-button-area{width:100%;height:0;}
.slider-button-shadow {
	width:240px;
	padding:30px 30px;	
	margin:0 auto; 
	background-color:#1A1A1A;
	border-radius:30px;
	text-align:center;
	position:relative;
	top:-50px;
	}
.slider-button {
	display:flex;
	justify-content:center;
	align-items:center;
	ooverflow:hidden;
	position:relative;
	background-color: #1A1A1A; /*  yellow; */
	width:180px;
	border:var(--button_border_style);
	padding:15px;
	border-radius:12px;
	z-index:1;
	}
.slider-button a{	
	color:#B3B3B2;
	font-size:21px;
	font-weight:800;
	text-decoration:none;
	z-index:5;
	transform:translateY(-3px);
	}
.slider-button img{	z-index:5; margin-left:7px;}
.slider-button-shadow::before {
	content:"";
	width:24px;
	height:24px;
	position:absolute;
	top:26px;
	left:-24px;
	background-image:url('images/left.svg');
}
.slider-button-shadow::after {
	content:"";
	width:24px;
	height:24px;
	position:absolute;
	top:26px;
	left:240px;
	background-image:url('images/right.svg'); z-index:5;
}

.slider-info {
	width:100%;
	display:flex;
	}
.slider-info-left {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:50%;
	height:401px;
	border-right: var(--border_dashed_style);
	padding:70px; 	z-index:0;
}
.slider-info-left a{margin-right:14px;}
.slider-info-right {
	width:50%;
	display:grid;
	grid-template-columns:1fr 1fr;
	}
.slider-info-right div {
	width:100%;
	height:200px;
	border-top: var(--border_dashed_style);
	padding:50px;
	}
.slider-info-right div:nth-child(1), .slider-info-right div:nth-child(3){
	border-right: var(--border_dashed_style);
	}
.slider-info h2, .middle-section h2{
	color:#FFF;
	font-size:48px;
	font-weight:500;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:10px;
}
.slider-info p, .middle-section p{
	color:#676665;
	font-size:20px;
	font-weight:400;
	margin-top:10px;
}
.middle-section	{
	width:100%;
	margin-top:20px;
	border-radius:20px;
	border: var(--border_dashed_style);
	}
.middle-top {
	padding:70px;
	}
.middle-category {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	}
.middle-category div {
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:377px;
	border-top: var(--border_dashed_style);
	padding:50px;
}
.middle-category-item:nth-child(1),
.middle-category-item:nth-child(2),
.middle-category-item:nth-child(4),
.middle-category-item:nth-child(5) {
	border-right: var(--border_dashed_style);
}
.middle-category img:first-child {
	width: 160px;
	position:absolute;
	top: 0px;
	right: 0;
}
.middle-category img:nth-child(2) {
	width: 94px;
}
.middle-category h3 {
	color:#FFF;
	font-size:24px;
	font-weight:500;
	}
.middle-category p {
	color:#81807E;
	font-size:18px;
	font-weight:400;
	line-height:1.5;
	}
	
	
	
	
	
	
	
	
	
	
	
	
/*
.footer {	
	width:1596px;
	height:250px;
	margin:200px auto;
	}
	
html {scroll-behavior: smooth;}
.center-good {
	display: grid;
	place-items:center;
}
*/
